@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@layer base {
  :root {
    --color-primary: #1b325f;
    --color-secondary: #253e6f; /* #536588 */
    --color-tertiary: #e3effe;
    --color-background: #fafafa; /* #e7edf5 */
    --color-badge-1: #e5ebff;
    --color-badge-3: #e8e8e8;
    --color-dark: #22262f; /* #111827 */
    --color-bg: #f7f7f5; /* #E9F2F9 */
    --color-text: #29394e;
  }
  /* #0b1b42 */
  body {
    font-family: var(--font-inter), system-ui, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  @layer components {
  
    .layout-container {
      display: flex !important;
      flex-direction: column;
      width: 100%;
      gap: 2rem;
    }

    .layout-main {
      width: 100% !important;
      /* transition: all 0.5s ease-in-out; */
    }

    .layout-aside {
      width: 100% !important;
      opacity: 0;
      overflow: hidden;
      display: none;
      /* transition: all 0.4s ease-in-out; */
    }

    .layout-aside.is-open {
      display: block;
      opacity: 1;
    }

    @media (min-width: 1700px) {
      .layout-container {
        flex-direction: row !important;
        align-items: stretch !important;
      }

      .layout-main.is-open {
        flex: 2
      }

      .layout-aside.is-open {
        flex: 1;
      }

      .layout-main:not(.is-open) {
        width: 100% !important;
      }
    }

    .layout-main,
    .layout-aside {
      min-width: 0;
    }
  }

  .particle {
    position: absolute;
    border-radius: 9999px;
    background: #536588;
    animation-name: float, var(--orbit);
    animation-duration: 3s, var(--speed);
    animation-iteration-count: infinite, infinite;
    animation-timing-function: ease-in-out, linear;
  }

  @keyframes float {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
  }

  @keyframes panel-pop {
    0% {
      opacity: 0;
      transform: scale(0.85);
    }

    70% {
      transform: scale(1.03);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-panel-pop {
    animation: panel-pop 0.2s ease-out;
  }
  @keyframes dragPickup {
    0% {
      transform: scale(1);
    }

    45% {
      transform: scale(1.04);
    }

    100% {
      transform: scale(1);
    }
  }

  .animate-drag-pickup {
    animation: dragPickup 500ms cubic-bezier(0.22, 1, 0.36, 1);
  }
}
